* {
  /* 常规初始化 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 解决手机浏览器点击有选框的问题 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  /* 常规居中显示 */
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  /* 简单背景颜色，radial-gradient() 径向渐变 */
  background: radial-gradient(#33bbff, #1144ff);
}

.box {
  /* 父盒子内部元素排开 */
  display: flex;
  /* 子元素间隔 */
  gap: 4vmin;
}

.box .eye {
  /* 眼睛的宽高、背景颜色、圆 */
  width: 20vmin;
  height: 20vmin;
  background-color: #fff;
  border-radius: 50%;
  /* 内外阴影 */
  box-shadow: 0 0 4vmin rgba(0, 0, 0, 0.2), inset 0 0 2vmin #33bbff,
    inset 0 0 4vmin #33bbff;

  position: relative;
}

.box .eye::before {
  content: "";

  /* 中间眼珠的大小、颜色、圆 */
  width: 40%;
  height: 40%;
  background-color: #333;
  border-radius: 50%;
  /* 有个圈的边框 */
  border: 1vmin solid #33bbff;
  /* 伪元素没有初始化上 */
  box-sizing: border-box;

  /* 定位，让眼珠不在正中间，在居中的基础上向一边偏移一点就行 */
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
